  <h1><%=@contact.first_name%></h1>
  <h2><%=@contact.last_name%></h2>
  <h2><%=@contact.email%></h2>
  <h2><%=@contact.middle_name%></h2>
  <h2><%=@contact.bio%></h2>
  <h2><%=@contact.user_id%></h2>
  

